{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Votre Panier</h1>
    {% for product in baskets %}
    
    <h2>{{product.product_id.title}}</h2>
    <p>{{product.product_id.content}}</p>
    <span> {{product.product_id.price}}</span>
    {% endfor %}
</div>
{% endblock %}
