{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    
    <div class="container justify-content-center">
    <h1>S'enregistrer</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'Email:'
        }) }}
        {{ form_row(registrationForm.firstname, {
            label: 'Prénom:'    
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: 'Nom de famille:'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe:'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">S'enregistrer</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
