{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
<form class="row justify-content-center" method='POST' action='/'>
    <div class="col col-lg-2">
        <label class="form-label" for='search-bar'>Rechercher:</label>
        <input class="form-control" type='text' id='search-bar' name='search-bar-by-name'>
    </div>
    <div class="col-md-auto">
        <label for="select-bar">Rechercher par catégorie:</label>
        <select class="form-select" id='select-bar' name='select-bar-tag'>
            <option value=''>Sélectionner une catégorie</option>
            {% for allTag in allTags %}
            <option value='{{allTag.id}}'>{{allTag.name}}</option>
            {% endfor %}
    </div>
    <div class="col col-lg-2">
        <input class="btn btn-primary mb-3"type="submit" value="Rechercher">
    </div>
</form>
</div>

{% if products != null %}
<div class="container">
{% for product in products %}

<div class="card w-75 text-white bg-secondary ">
  <div class="card-body">
  <div class="d-flex flex-row">
    <img class="card-img" src="{{ product.image_link }}" style="width: 20%;">
  <div class="p-2">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.content }}</p>
    <a href="/view_product/{{ product.id }}" class="btn btn-primary">Voir</a>
  </div>
</div>
</div>
</div>
{% endfor %}
</div>
{% endif %}

{% if productByTags != null %}
<div class="container">
{% for productByTag in productByTags.products %}
<div class="card w-75 text-white bg-secondary ">
  <div class="card-body">
  <div class="d-flex flex-row">
    <img class="card-img" src="{{ productByTag.image_link }}" style="width: 20%;">
  <div class="p-2">
    <h5 class="card-title">{{ productByTag.title }}</h5>
    <p class="card-text">{{ productByTag.content }}</p>
    <a href="/view_product/{{ productByTag.id }}" class="btn btn-primary">Voir</a>
  </div>
</div>
</div>
</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}
