{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class='container'>
    <form action="{{ path('login') }}" method="post">
    
        <label class="form-label" for="username">Email:</label>
        <input class='form-control' type="text" id="username" name="_username" value="{{ last_username }}"/>


        
        <label class="form-label" for="password">Mot de passe:</label>
        
        <input class='form-control' type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success 
        <input type="hidden" name="_target_path" value="/account"/>#}
        {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}

        <button class='btn btn-primary'type="submit">Se connecter</button>
       
    </form>
     </div>
{% endblock %}
