{% extends 'base.html.twig' %}

{% block title %}Les produits{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
<h1>Tout les produits présent sur Nozama ! </h1>
</div>
<div class="container">

{% for product in products %}

<div class="card w-75 text-white bg-secondary ">
  <div class="card-body">
  <div class="d-flex flex-row">
    <img class="card-img" src="{{ product.image_link }}" style="width: 20%;">
  <div class="p-2">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.content }}</p>
    <a href="/view_product/{{product.id}}" class="btn btn-primary">Voir</a>
  </div>
</div>
</div>
</div>
{% endfor %}
{{ knp_pagination_render(products) }}
</div>

{% endblock %}
