{% extends 'base.html.twig' %}

{% block title %}Les produits{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    
{% if product != null %}
<div class="example-wrapper">
<h1>{{product.title}} </h1>
<div>
  <div>
  <div>
    <img src="{{ product.image_link }}" style="width: 50%;">
  <div class="p-2">
    <h2>{{ product.title }}</h5>
    <p>{{ product.content }}</p>
    <span> {{ product.price }}</span> €
    {% if app.user != null %}
    <form method='POST' action='/view_product/{{product.id}}'>
    <input type='submit' value='Ajouter au panier' class='btn btn-primary'>
    </form>
    {% endif %}
  </div>
</div>
</div>
{% endif %}

{% if app.user != null %}
<h3>Poster un avis</h3>
<div class='mb-3'>
<form method='POST' action='/view_product/{{product.id}}'>
  <label class='form-label' for='titre'>Entrer le titre de votre avis</label>
  <input class='form-control' type='text' name='input-titre' id='titre'>

  <label class='form-label' for'content'>Entrer le corps de votre avis</label>
  <textarea class='form-control' name='input-content' id='content'></textarea>

  <input type='submit' class='btn btn-primary' value='Poster votre avis'>
</form>
{% endif %}
<h3>Les avis de tout les utilisateurs</h3>
{% for avis in product.avis %}
<h4> {{avis.title }} </h4>
<p> {{ avis.content }}</p>
{% endfor %}
</div>

{% endblock %}