
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link href='/style.css' rel='stylesheet'
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    
    <body>
    {% block navbar %}
    
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container-fluid">
    <div class='col>'>
    <a class="nav-link" href='/'><img src="/img_eval.png" width="50" height="30" class="d-inline-block align-text-top"></a>
    <a class='nav-link siteTitle' href="/">Nozama</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href='/product'>Produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/about'>À propos</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href='/admin'>Panneau admin</a>
        </li>
        {% endif %}
      </ul>
      </div>
      <ul class="nav justify-content-end">
      {% if app.user == null %}
        <li class="nav-item"> 
            <a class="nav-link" href="/register">S'enregistrer</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link" href="/login">Se connecter</a>
        </li>
      {% else %}
        <li class="nav-item"> 
            <a class="nav-link" href="/basket">Panier</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link" href="/logout">Se déconnecter</a>
        </li>
      {% endif %}
      </ul>
  </div>
  </nav>
    {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
